<%- include('../partials/header') %>

  <h1>All guitars</h1>

  <% guitars.forEach(function (guitar) { %>
    <div>
      <%= guitar.name %>
      <%= guitar.userName %>
      <%= guitar.userAvatar %>
      <!-- image of guitar -->

    </div>
    <a href='/guitars/<%= guitar._id%>'>Guitar Details</a>
    <form action="/guitars/<%= guitar.id %>?_method=DELETE" method="POST">
      <button type="submit">DELETE</button>
    </form>
  <% }); %>

  <a href='/guitars/new'>Create Custom Guitar</a>
