<%- include('../partials/header') %>

  <h1>All guitars</h1>

  <% guitars.forEach(function (guitar) { %>
    <div>
      <%= guitar.name %>
      <%= guitar.body %>
      <%= guitar.neck %>
    </div>
  <% }); %>
  
<%- include('../partials/footer') %>