<%- include('../partials/header') %>

  <h1>All guitars</h1>

  <% guitars.forEach(function (guitar) { %>
    <div>
      <%= guitar.name %>
      <%= guitar.body %>
      <%= guitar.neck %>
    </div>
    <a href='/guitars/<%= guitar._id%>'>Guitar Details</a>
  <% }); %>
  
  <a href='/guitars/new'>Create Custom Guitar</a>

<%- include('../partials/footer') %>