<%- include('../partials/header') %>

<h1>Guitar Details:</h1>  
  <div>
    <%= guitar.name %>
    <%= guitar.body %>
    <%= guitar.neck %>
    <%= guitar.userName %>
    <%= guitar.userAvatar %>

    <!-- add comment form here -->

  <h2>Add a comment!</h2>
    <form id="comment-form" action="/guitars/<%= guitar.id %>" method="POST">
      <label>Comment:</label>
        <textarea name="content"></textarea>
      <label>Rating:</label>
        <select>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5" selected="selected">5</option>
        </select>
      <input type="submit" value="Add Comment">
    </form>
  </div>
  <form action="/guitars/<%= guitar.id %>?_method=DELETE" method="POST">
    <button type="submit">DELETE</button>
  </form>



<%- include('../partials/footer') %>