<%- include('../partials/header') %>

<h1>Guitar Details:</h1>  
  <div>
    <!-- image of guitar -->
    <%= guitar.name %>
    <%= guitar.body %>
    <%= guitar.neck %>
    <%= guitar.userName %>
    <%= guitar.userAvatar %>

    <form action="/guitars/<%= guitar.id %>?_method=DELETE" method="POST">
      <button type="submit">DELETE</button>
    </form>
  </div>

  <% if (user) { %>
  <h2>Add a comment!</h2>
    <form id="comment-form" action="/guitars/<%= guitar.id %>/comments" method="POST">
      <label>Comment:</label>
        <textarea name="content"></textarea>
      <input type="submit" value="Add Comment">
    </form>
  <% } %>

  <% if (guitar.comments.length) { %>
    <% guitar.comments.forEach(function (comment) { %>
        <%= comment.content %>
        <%= user._id %>
        <% if (user && user._id.equals(comment.user)) { %>
          <form action="/comments/<%= comment._id %>/edit" method="GET">
            <button type="submit">Update Comment</button>
          </form>
          <form action="/comments/<%= comment._id %>?_method=DELETE" method="POST">
            <button type="submit">Delete Comment</button>
          </form>
        <% }; %>
    <% }); %>
  <% } else { %>
    <h5>No Comments Yet</h5>
  <% } %>

<%- include('../partials/footer') %>