<%- include('../partials/header') %>

<h1>Guitar Details:</h1>  
  <div>
    <%= guitar.name %>
    <%= guitar.body %>
    <%= guitar.neck %>
    <%= guitar.userName %>
    <%= guitar.userAvatar %>

    <form action="/guitars/<%= guitar.id %>?_method=DELETE" method="POST">
      <button type="submit">DELETE</button>
    </form>
  </div>

  <% if (user) { %>
  <h2>Add a comment!</h2>
    <form id="comment-form" action="/guitars/<%= guitar.id %>/comments" method="POST">
      <label>Comment:</label>
        <textarea name="content"></textarea>
      <!-- <label>Rating:</label>
        <select>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5" selected="selected">5</option>
        </select> -->
      <input type="submit" value="Add Comment">
    </form>
  <% } %>

  <% if (guitar.comments.length) { %>
    <!-- <% let total = 0; %> -->
    <% guitar.comments.forEach(function (comment) { %>
      <!-- <% total += comment.rating; %> -->
        <%= comment.content %>
        <!-- <%= comment.rating %> -->
        <% if (user && user._id.equals(comment.user)) { %>
          <form action="/comments/<%= comment._id %>?_method=DELETE" method="POST">
            <button type="submit">Delete Comment</button>
          </form>
        <% }; %>
    <% }); %>
  <% } else { %>
    <h5>No Comments Yet</h5>
  <% } %>

<%- include('../partials/footer') %>