<%- include('../partials/header') %>

<h1>Guitar Details:</h1>  
  <div>
    <%= guitar.name %>
    <%= guitar.body %>
    <%= guitar.neck %>
    <%= guitar.userName %>
    <%= guitar.userAvatar %>

    <!-- add comment form here -->
    
  </div>
  <form action="/guitars/<%= guitar.id %>?_method=DELETE" method="POST">
    <button type="submit">DELETE</button>
  </form>



<%- include('../partials/footer') %>