<%- include('../partials/header') %>

  <h1>User's guitars</h1>

  <% userGuitars.forEach(function (userGuitar) { %>
    <div>
      <%= userGuitar.name %>
      <%= userGuitar.body %>
      <%= userGuitar.neck %>
      <%= userGuitar.userName %>
      <%= userGuitar.userAvatar %>
    </div>
  <% }); %>

  <a href='/guitars/new'>Create Custom Guitar</a>

<%- include('../partials/footer') %> 